<h1>Create New Task</h1>

<%= form_for(@task, url:create_path) do |f| %>
  <%= f.label :content, 'Task' %>
  <%= f.text_field :content %>
  <%= f.label :limit_date, 'Deadline' %>
  <%= f.text_field :limit_date %>
  <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :name %>

  <%= f.submit 'Create Task' %>
<% end %>

<%= link_to 'Task List', root_path %>
